body{
    background-color: black;
}

p{
    color:white ;
    transform: translate(500px,100px);
    font-size: 45px;
}
h4{
    color: white;
    transform: translate(500px,100px);
    font-size: 45px;
}
h2{
    color: white;
    transform: translate(480px,100px);
    font-size: 55px;
    
}



   


