h1{
    text-align: center;
    background-color: aqua;
    padding: 30px;
    color: azure;
}
p{
    text-align: center;
}
h5{
    text-align: center;
    background-color: aqua;
    color: azure;
    padding: 20px;
}