img{
    height: 300px;
    width: 300px;
    background-color: rebeccapurple;
    /* transform: translate(20px,50px); */
    display: block;
    margin: auto;
}
img:hover{
    transform: rotate(60deg);
}


